In [17]:
%autosave 1

Autosaving every 1 seconds

In [12]:
import os

import pandas as pd

from env import get_connection

ModuleNotFoundError: No module named 'env'

We can read data from a google sheet using a little formatting and pd.read_csv.

In [3]:
url = 'https://docs.google.com/spreadsheets/d/1_9HqVfodBuR6rJfVb4d36zDesEv4O9GwPI3M7MgX7So/edit?usp=sharing'

export_url = url.replace('/edit?usp=sharing', '/export?format=csv')

pd.read_csv(export_url)

,Movie Title,Release Date,Year,Month,Weekday,Months_since_release,Wikipedia URL,Genre (1),Genre (2),Director (1),...,Budget ($),Box Office Revenue ($),Profit,Is_blockbuster,Comedy_Blockbuster,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,The Devil Inside,1/6/2012,2012,1,6,139,https://en.wikipedia.org/wiki/The_Devil_Inside...,Horror,Drama,William Brent Bell,...,"$1,000,000","$101,800,000","$100,800,000",Is_Blockbuster,FALSE,NaN,NaN,NaN,NaN,NaN
1,Red Tails,1/20/2012,2012,1,6,139,https://en.wikipedia.org/wiki/Red_Tails,Drama,NaN,Anthony Hemingway,...,"$58,000,000","$50,400,000","-$7,600,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
2,Declaration of War,1/27/2012,2012,1,6,138,https://en.wikipedia.org/wiki/Declaration_of_W...,Romance,Drama,Val√©rie Donzelli,...,"$1,500,000","$6,500,000","$5,000,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
3,Man on a Ledge,1/27/2012,2012,1,6,138,https://en.wikipedia.org/wiki/Man_on_a_Ledge,Action,Drama,Asger Leth,...,"$42,000,000","$46,200,000","$4,200,000",FALSE,FALSE,Budget Stats,NaN,NaN,NaN,NaN
4,One for the Money,1/27/2012,2012,1,6,138,https://en.wikipedia.org/wiki/One_for_the_Mone...,Crime,Romance,Julie Anne Robinson,...,"$40,000,000","$36,900,000","-$3,100,000",FALSE,FALSE,Sum,"$24,826,670,000",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,Kubo and the Two Strings,8/19/2016,2016,8,6,84,https://en.wikipedia.org/wiki/Kubo_and_the_Two...,Fantasy,NaN,Travis Knight,...,"$60,000,000","$27,600,000","-$32,400,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
504,War Dogs,8/19/2016,2016,8,6,84,https://en.wikipedia.org/wiki/War_Dogs_(2016_f...,Crime,Comedy,Todd Phillips,...,"$40,000,000","$42,700,000","$2,700,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
505,Don't Breathe,8/26/2016,2016,8,6,83,https://en.wikipedia.org/wiki/Don%2527t_Breath...,Thriller,NaN,Fede Alvarez,...,"$9,900,000","$28,300,000","$18,400,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
506,Hands of Stone,8/26/2016,2016,8,6,83,https://en.wikipedia.org/wiki/Hands_of_Stone,Biography,Drama,Jonathan Jakubowicz,...,"$20,000,000","$1,700,000","-$18,300,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
507,Mechanic: Resurrection,8/26/2016,2016,8,6,83,https://en.wikipedia.org/wiki/Mechanic:_Resurr...,Action,NaN,Dennis Gansel,...,"$40,000,000","$7,500,000","-$32,500,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN

We can read in an excel file with pd.read_excel.

In [6]:
url= 'https://docs.google.com/spreadsheets/d/1_9HqVfodBuR6rJfVb4d36zDesEv4O9GwPI3M7MgX7So/edit?usp=sharing'
export_url = url.replace('/edit?usp=sharing', '/export?format=csv')
pd.read_csv(export_url)

,Movie Title,Release Date,Year,Month,Weekday,Months_since_release,Wikipedia URL,Genre (1),Genre (2),Director (1),...,Budget ($),Box Office Revenue ($),Profit,Is_blockbuster,Comedy_Blockbuster,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,The Devil Inside,1/6/2012,2012,1,6,139,https://en.wikipedia.org/wiki/The_Devil_Inside...,Horror,Drama,William Brent Bell,...,"$1,000,000","$101,800,000","$100,800,000",Is_Blockbuster,FALSE,NaN,NaN,NaN,NaN,NaN
1,Red Tails,1/20/2012,2012,1,6,139,https://en.wikipedia.org/wiki/Red_Tails,Drama,NaN,Anthony Hemingway,...,"$58,000,000","$50,400,000","-$7,600,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
2,Declaration of War,1/27/2012,2012,1,6,138,https://en.wikipedia.org/wiki/Declaration_of_W...,Romance,Drama,Val√©rie Donzelli,...,"$1,500,000","$6,500,000","$5,000,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
3,Man on a Ledge,1/27/2012,2012,1,6,138,https://en.wikipedia.org/wiki/Man_on_a_Ledge,Action,Drama,Asger Leth,...,"$42,000,000","$46,200,000","$4,200,000",FALSE,FALSE,Budget Stats,NaN,NaN,NaN,NaN
4,One for the Money,1/27/2012,2012,1,6,138,https://en.wikipedia.org/wiki/One_for_the_Mone...,Crime,Romance,Julie Anne Robinson,...,"$40,000,000","$36,900,000","-$3,100,000",FALSE,FALSE,Sum,"$24,826,670,000",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,Kubo and the Two Strings,8/19/2016,2016,8,6,84,https://en.wikipedia.org/wiki/Kubo_and_the_Two...,Fantasy,NaN,Travis Knight,...,"$60,000,000","$27,600,000","-$32,400,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
504,War Dogs,8/19/2016,2016,8,6,84,https://en.wikipedia.org/wiki/War_Dogs_(2016_f...,Crime,Comedy,Todd Phillips,...,"$40,000,000","$42,700,000","$2,700,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
505,Don't Breathe,8/26/2016,2016,8,6,83,https://en.wikipedia.org/wiki/Don%2527t_Breath...,Thriller,NaN,Fede Alvarez,...,"$9,900,000","$28,300,000","$18,400,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
506,Hands of Stone,8/26/2016,2016,8,6,83,https://en.wikipedia.org/wiki/Hands_of_Stone,Biography,Drama,Jonathan Jakubowicz,...,"$20,000,000","$1,700,000","-$18,300,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN
507,Mechanic: Resurrection,8/26/2016,2016,8,6,83,https://en.wikipedia.org/wiki/Mechanic:_Resurr...,Action,NaN,Dennis Gansel,...,"$40,000,000","$7,500,000","-$32,500,000",FALSE,FALSE,NaN,NaN,NaN,NaN,NaN

In [8]:
pd.read_excel('stock_portfolio_performance_data_set.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'stock_portfolio_performance_data_set.xlsx'

We can read the results of a SQL query into a dataframe using pd.read_sql.

In [14]:
db_url = get_connection('chipotle')
query = '''
        SELECT *
        FROM orders
        '''

NameError: name 'get_connection' is not defined

In [15]:
chip = pd.read_sql(query, db_url)
chip.head()

NameError: name 'query' is not defined

Let's store the results of this SQL query in a csv file!

We can read back in our data from the csv file instead of the SQL query.

Saved the best for last.. let's have some fun with pd.read_clipboard and pd.read_html.